.clouds {
    display: flex;
    align-items: center;
    justify-content: center;

    &__left,
    &__right {
        position: relative;
        width: 50%;
        height: 20rem;

        .cloud {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            filter: blur(0px);
        }
    }

    &__left {
        &_1 {
            background: url(../img/left-1.png) center/contain no-repeat;
            opacity: 1;
            animation: cloud1 9s linear infinite;
            transform: translateY(-50px) scale(1);
        }
        &_2 {
            background: url(../img/left-2.png) center/contain no-repeat;
            animation: cloud2 6s linear infinite;
            transform: translateY(20px) scale(1);
        }
        &_3 {
            background: url(../img/left-3.png) center/contain no-repeat;
            animation: cloud3 3s linear infinite;
            transform: translateY(-20px) scale(-1, 1);
        }
    }

    &__right {
        &_1 {
            background: url(../img/right-1.png) center/contain no-repeat;
            opacity: 1;
            animation: cloud1 9s linear infinite;
            transform: translateY(-50px) scale(1);
        }
        &_2 {
            background: url(../img/right-2.png) center/contain no-repeat;
            animation: cloud2 6s linear infinite;
            transform: translateY(20px) scale(1);
        }
        &_3 {
            background: url(../img/right-3.png) center/contain no-repeat;
            animation: cloud3 3s linear infinite;
            transform: translateY(-20px) scale(-1, 1);
        }
    }
}

@keyframes cloud1 {
    0% {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(-50px) scale(1);
    }

    25% {
        opacity: 0.5;
        filter: blur(3px);
        transform: translateY(-40px) scale(1.05);
    }

    50% {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(-60px) scale(1.1);
    }

    75% {
        opacity: 0.5;
        filter: blur(5px);
        transform: translateY(-40px) scale(1.15);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(-50px) scale(1);
    }
}

@keyframes cloud2 {
    0% {
        opacity: 0;
        filter: blur(0px);
        transform: translateY(20px) scale(1);
    }

    25% {
        opacity: 0.5;
        transform: translateY(10px) scale(1.05);
    }

    50% {
        opacity: 1;
        filter: blur(5px);
        transform: translateY(0px) scale(1.1);
    }

    75% {
        opacity: 0.5;
        transform: translateY(-10px) scale(1.15);
    }

    100% {
        opacity: 0;
        filter: blur(0px);
        transform: translateY(20px) scale(1);
    }
}

@keyframes cloud3 {
    0% {
        opacity: 0;
        filter: blur(0px);
        transform: translateY(-20px) scale(-1, 1);
    }

    25% {
        opacity: 0.5;
        filter: blur(3px);
        transform: translateY(-30px) scale(-1, 1.05);
    }

    50% {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(-40px) scale(-1, 1.1);
    }

    75% {
        opacity: 0.5;
        filter: blur(3px);
        transform: translateY(-30px) scale(-1, 1.15);
    }

    100% {
        opacity: 0;
        filter: blur(0px);
        transform: translateY(-20px) scale(-1, 1);
    }
}
