.contacts {
    &__title {
        margin-bottom: 5rem;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;

        @media (max-width: 575px) {
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            gap: 2rem;
        }
    }

    &__link {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 4rem;
        text-transform: capitalize;
        text-align: center;
        color: var(--color-accent-green);
        transition: color 0.3s ease;

        &:hover,
        &:active {
            color: var(--color-dark-green);
        }
    }
}
