.projects {
    height: 100vh;
    border: 1px solid red;

    &__title {
        margin-bottom: 3.5rem;
    }

    &__list {
        display: grid;
        padding: 0;
        grid-template-columns: repeat(3, 380px);
        gap: 40px;
        list-style-type: none;
    }
}
