.second-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
    text-shadow: 5px 5px rgba(#7edab9, 0.7);
    color: var(--color-accent-green);
}
