.slider {
    position: relative;
    max-width: 60rem;
    max-height: 70rem;
    margin: 0 auto;
    padding-bottom: 64px;
    // border: 1px solid red;
    overflow: hidden;

    @media (max-width: 767px) {
        max-width: 40rem;
        max-height: 45rem;
    }

    @media (max-width: 450px) {
        max-width: 29rem;
        max-height: 29rem;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        background-color: var(--color-transparent);
        transition: all 1s ease;
    }

    &__img {
        position: relative;
        width: 100%;
        height: 55rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

        @media (max-width: 767px) {
            background-position: 0% 0%;
        }

        &_1 {
            background-image: url(../img/certificates/JS-2.jpg);
        }

        &_2 {
            background-image: url(../img/certificates/JS-1.png);
        }

        &_3 {
            background-image: url(../img/certificates/softskills.png);
        }

        &_4 {
            background-image: url(../img/certificates/effective-learning.png);
        }

        &_5 {
            background-image: url(../img/certificates/Python-1.png);
        }

        &_6 {
            background-image: url(../img/certificates/Python-2.png);
        }

        &_7 {
            background-image: url(../img/certificates/equations.png);
        }

        &_8 {
            background-image: url(../img/certificates/SQL.png);
        }

        &_9 {
            background-image: url(../img/certificates/technical-writing.png);
        }

        &_10 {
            background-image: url(../img/certificates/web-0.png);
        }

        &_11 {
            background-image: url(../img/certificates/web-1.png);
        }

        &_12 {
            background-image: url(../img/certificates/web-2.png);
        }

        &_13 {
            background-image: url(../img/certificates/emmet.png);
        }

        &_14 {
            background-image: url(../img/certificates/webflow.png);
        }

        &_15 {
            background-image: url(../img/certificates/animation-master.jpg);
        }
    }

    &__btn_prev,
    &__btn_next {
        position: absolute;
        bottom: 0%;
        background-color: var(--color-light-green);
        border: 1px solid var(--color-accent-green);
        border-radius: 100%;
    }

    &__btn_prev {
        left: 0%;
    }

    &__btn_next {
        right: 0%;
    }

    &__btn_prev-img,
    &__btn_next-img {
        width: 4.5rem;

        @media (max-width: 450px) {
            width: 2.5rem;
        }
    }

    &__btn_prev-img circle,
    &__btn_next-img circle {
        fill: var(--color-dark-green);
        fill-opacity: 0.2;
    }

    &__btn_prev-img:hover circle,
    &__btn_next-img:hover circle,
    &__btn_prev-img:active circle,
    &__btn_next-img:active circle {
        fill: var(--color-dark-green);
        fill-opacity: 0.5;
    }

    &__pagination {
        position: absolute;
        bottom: 3%;
        left: 50%;
        display: flex;
        gap: 15px;
        transform: translateX(-50%);

        @media (max-width: 767px) {
            bottom: 22%;
            gap: 10px;
        }

        @media (max-width: 450px) {
            bottom: 23%;
            gap: 9px;
        }
    }

    &__dot {
        width: 15px;
        height: 15px;
        background-color: var(--color-light-green);
        border: 1px solid var(--color-accent-green);
        border-radius: 100%;
        opacity: 0.7;
        transition: background-color 0.3s ease;

        @media (max-width: 450px) {
            width: 7px;
            height: 7px;
        }

        &.active-dot {
            background-color: var(--color-accent-green);
        }
    }
}
