.title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 9rem;
    color: transparent;
    letter-spacing: 4px;
    background: linear-gradient(
        270deg,
        var(--color-accent-green),
        transparent,
        var(--color-accent-green),
        transparent,
        var(--color-accent-green),
        transparent,
        var(--color-accent-green)
    );
    background-size: 400% 400%;
    animation: title 20s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px var(--color-accent-green);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 1399px) {
        font-size: 5rem;
    }

    @media (max-width: 450px) {
        font-size: 3rem;
    }

    &__wrapper {
        display: flex;
        width: 45%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-family: var(--font-family);

        font-weight: 400;
        font-size: 4rem;
        text-align: center;
        color: var(--color-accent-green);

        &_text-1 {
            font-size: 4rem;

            @media (max-width: 450px) {
                font-size: 3rem;
            }
        }
    }
}

@keyframes title {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
