html,
body {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    padding-bottom: 70rem;
    font-family: var(--font-family);
    color: var(--color-black);
    background-color: var(--color-bg);
    transition: all 0.5s ease;
    overflow-x: hidden;

    &::after {
        content: url(../img/1.png) url(../img/2.png) url(../img/digital-agency.png)
            url(../img/dream-houses.png) url(../img/game-store.png) url(../img/leaves-left.png)
            url(../img/leaves-right.png) url(../img/parallax-example.png) url(../img/product-24.png)
            url(../img/tour-baloons.png) url(../img/certificates/emmet.png)
            url(../img/certificates/animation-master.jpg)
            url(../img/certificates/effective-learning.png) url(../img/certificates/equations.png)
            url(../img/certificates/JS-1.png) url(../img/certificates/JS-2.jpg)
            url(../img/certificates/Python-1.png) url(../img/certificates/Python-2.png)
            url(../img/certificates/softskills.png) url(../img/certificates/SQL.png)
            url(../img/certificates/technical-writing.png) url(../img/certificates/web-0.png)
            url(../img/certificates/web-1.png) url(../img/certificates/web-2.png)
            url(../img/certificates/webflow.png);
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
}
