html,
body {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    padding-bottom: 70rem;
    font-family: var(--font-family);
    color: var(--color-black);
    background-color: var(--color-bg);
    transition: all 0.5s ease;
    overflow-x: hidden;

    &::after {
        // content: url(./dist/img/1.png) url(./dist/img/2.png) url(./dist/img/digital-agency.png)
        //     url(./dist/img/dream-houses.png) url(./dist/img/game-store.png)
        //     url(./dist/img/leaves-left.png) url(./dist/img/leaves-right.png)
        //     url(./dist/img/parallax-example.png) url(./dist/img/product-24.png)
        //     url(./dist/img/tour-baloons.png);
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
}
