html,
body {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    padding-bottom: 70rem;
    font-family: var(--font-family);
    color: var(--color-black);
    background-color: var(--color-bg);
    transition: all 0.5s ease;
    overflow-x: hidden;

    &::after {
        // content: url(../img/account.svg);
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
}
