:root {
    --color-bg: #001a5e;
    --color-transparent: rgba(0, 0, 0, 0);

    --color-white: #ffffff;
    --color-grey: #c5c5c5;
    --color-black: #000000;

    --color-accent-green: #78bc4b;
    --color-accent-yellow: rgb(213, 182, 4);

    --font-family: 'Oleo Script';
    --second-family: 'Oleo Script Swash Caps';
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}
