:root {
    --color-bg: #001a5e;
    --color-transparent: rgba(0, 0, 0, 0);

    --color-white: #ffffff;
    --color-grey: #c5c5c5;
    --color-black: #000000;

    --color-dark-green: #176529;
    --color-dark-orange: rgb(185, 73, 3);

    --color-accent-green: #78bc4b;
    --color-accent-yellow: rgb(255, 229, 84);
    --color-accent-orange: rgb(213, 122, 4);

    --font-family: 'Oleo Script';
    --second-family: 'Oleo Script Swash Caps';
}
