:root {
    --color-bg: #085b4a;
    --color-transparent: rgba(0, 0, 0, 0);

    --color-white: #ffffff;
    --color-grey: #c5c5c5;
    --color-dark-grey: #2a2929;
    --color-black: #000000;

    --color-accent-green: #00d2a9;

    --font-family: 'Oleo Script';
    --second-family: 'Oleo Script Swash Caps';
}
